<!DOCTYPE html>
<html lang="en, ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Table</title>
</head>
<body>
<h2>User Info</h2>
<br>

<form th:action="@{/admin/updateUser}" th:method="PATCH" th:object="${existingUser}">
    <label for="id"></label>
    <input th:hidden="id" type="text" th:field="*{id}" id="id">
    <label for="firstName">Name:</label>
    <input type="text" th:field="*{firstName}" id="firstName"><br><br>
    <label for="lastName">Surname:</label>
    <input type="text" th:field="*{lastName}" id="lastName"><br><br>
    <label for="age">Age:</label>
    <input type="text" th:field="*{age}" id="age"><br><br>
    <label for="email">Email:</label>
    <input type="text" th:field="*{email}" id="email"><br><br>
    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" id="password"><br><br>

    <p>Roles:</p>
    <ul th:each="role : ${existingUser.getRole()}">
        <li th:text="${role.getRole()}" ></li>
    </ul>

    <p>
        <label>Roles:
            <input type="checkbox" name="roleList"
                   th:each="role : ${allRoles}"
                   th:text="${role.getRole()}"
                   th:value="${role.role}"
                   th:field="*{role}"
            />
        </label>
    </p>

    <input type="submit" value="OK">
</form>

<br>

<a th:href="@{/logout}">
    <input type="button" value="Logout"/>
</a> <br><br>

</body>
</html>