<!DOCTYPE html>
<html lang="en, ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <title>User Table</title>
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<h2>User Info</h2>
<br>

<form id="formNew" th:fragment="modal" th:method="POST" th:action="@{/admin/saveUser}">
    <div class="from-group required">
        <div class="controls">
            <p>
                <label for="newFirstName" class="form-label"><strong>First name</strong></label>
                <input id="newFirstName" type="text" class="form-control" th:value="${newUser.getFirstName()}"
                       name="firstName" placeholder="First name" required="required">
            </p>
            <p>
                <label for="newLastName" class="form-label"><strong>Last name</strong></label>
                <input type="text" class="form-control" th:value="${newUser.getLastName()}"
                       name="lastName" id="newLastName" placeholder="Last name" required="required">
            </p>
            <p>
                <label for="newAge" class="form-label"><strong>Age</strong></label>
                <input id="newAge" type="number" class="form-control" th:value="${newUser.getAge()}"
                       name="age" placeholder="Age" required="required">
            </p>
            <p>
                <label for="newEmail" class="form-label"><strong>Email</strong></label>
                <input type="email" class="form-control" th:value="${newUser.getEmail()}"
                       name="email" id="newEmail" placeholder="Email" required="required">
            </p>
            <p>
                <label for="newPassword" class="form-label"><strong>Password</strong></label>
                <input type="password" class="form-control" th:value="${newUser.getPassword()}"
                       name="password" id="newPassword" placeholder="Password" required="required">
            </p>
            <p>
                <label for="newRole" class="form-label"><strong>Role</strong></label>
                <select id="newRole" name="role" class="form-select" multiple
                        aria-label="multiple select example" size="2" required="required">
                    <option th:each="role :${allRoles}"
                            th:text="${role.getRole()}"
                            th:value="${role.id}">
                    </option>
                </select>
            </p>
            <button type="submit" class="btn btn-success">Add new user</button>
        </div>
    </div>
</form>
</body>
</html>