<!DOCTYPE html>
<html lang="en, ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <title>User Table</title>

    <style>
        [class="tab-content p-4 flex-fill"]{
            height: 100vh;
            background-color: rgba(76,95,95,0.05);
        }
    </style>
    <style>
        [class="row border"]{
            background-color: white;
        }
    </style>
    <style>
        [class="col p-2"]{
            background-color: rgba(76,95,95,0.11);
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>

<main>
    <div class="d-flex align-items-start">
        <div class="nav flex-column col-3 my-4 nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                    type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin
            </button>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                    type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">User
            </button>
        </div>
        <div class="tab-content p-4 flex-fill" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <h2>Admin panel</h2>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">User table
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">New user
                        </button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="container tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row border">
                            <div class="col p-2">
                                <h5 class="my-0">All users</h5>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col gx-0">
                                <div class="d-flex text-start p-3">
                                    <table class="table table-striped my-0">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>FirstName</th>
                                            <th>LastName</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Authority</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>

                                        <!-- Modal -->
                                        <div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <form id="edit" class="needs-validation" novalidate>
                                                <div class="modal-content">
                                                    <header class="modal-header">
                                                        <h5 class="modal-title" id="editBackdropLabel">Edit User</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        </button>
                                                    </header>
                                                    <div class="modal-body text-center mx-auto">
                                                            <div class="from-group required">
                                                                <div class="controls">
                                                                    <p>
                                                                        <label for="id" class="form-label"><strong>ID</strong></label>
                                                                        <input id="id" class="form-control" required="required" type="number" readonly>
                                                                    </p>
                                                                    <p>
                                                                        <label for="firstName" class="form-label"><strong>First name</strong></label>
                                                                        <input id="firstName" type="text" class="form-control" required="required">
                                                                    </p>
                                                                    <p>
                                                                        <label for="lastName" class="form-label"><strong>Last name</strong></label>
                                                                        <input id="lastName" type="text" class="form-control" required="required">
                                                                    </p>
                                                                    <p>
                                                                        <label for="age" class="form-label"><strong>Age</strong></label>
                                                                        <input id="age" type="number" class="form-control" required="required">
                                                                    </p>
                                                                    <p>
                                                                        <label for="email" class="form-label"><strong>Email</strong></label>
                                                                        <input id="email" type="email" class="form-control" required="required">
                                                                    </p>
                                                                    <p>
                                                                        <label for="password" class="form-label"><strong>Password</strong></label>
                                                                        <input id="password" type="password" class="form-control" required="required">
                                                                    </p>
                                                                    <p>
                                                                        <label for="authority" class="form-label"><strong>Authority</strong></label>
                                                                        <select id="authority" class="form-select" multiple aria-label="multiple select example" size="2" required="required">
                                                                        </select>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                    </div>
                                                    <footer class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button id="confirmEdit" type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                                                            Edit
                                                        </button>
                                                    </footer>
                                                </div>
                                                </form>
                                            </div>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <header class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabelDelete">Delete User</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        </button>
                                                    </header>
                                                    <div class="modal-body text-center mx-auto">
                                                        <div class="from-group required">
                                                            <div class="controls">
                                                                <p>
                                                                    <label for="deleteId" class="form-label"><strong>ID</strong></label>
                                                                    <input id="deleteId" type="number" class="form-control" readonly>
                                                                </p>
                                                                <p>
                                                                    <label for="deleteFirstName" class="form-label"><strong>First name</strong></label>
                                                                    <input id="deleteFirstName" type="text" class="form-control" readonly>
                                                                </p>
                                                                <p>
                                                                    <label for="deleteLastName" class="form-label"><strong>Last name</strong></label>
                                                                    <input id="deleteLastName" type="text" class="form-control" readonly>
                                                                </p>
                                                                <p>
                                                                    <label for="deleteAge" class="form-label"><strong>Age</strong></label>
                                                                    <input id="deleteAge" type="number" class="form-control" readonly>
                                                                </p>
                                                                <p>
                                                                    <label for="deleteEmail" class="form-label"><strong>Email</strong></label>
                                                                    <input id="deleteEmail" type="email" class="form-control" readonly>
                                                                </p>
                                                                <p>
                                                                    <label for="deleteAuthority" class="form-label"><strong>Authority</strong></label>
                                                                    <select id="deleteAuthority" name="authority" class="form-select" multiple aria-label="multiple select example" size="2" disabled="disabled">
                                                                    </select>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <footer class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button id="confirmDelete" type="submit" class="btn btn-danger" data-bs-dismiss="modal">
                                                            Delete
                                                        </button>
                                                    </footer>
                                                </div>
                                            </div>
                                        </div>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row border">
                            <div class="col p-2">
                                <h5 class="my-0">Add new user</h5>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col gx-0">
                                <div class="d-flex justify-content-center text-center p-3">
                                    <form id="add" class="needs-validation" novalidate>
                                    <div class="from-group required">
                                        <div class="controls">
                                            <p>
                                                <label for="newFirstName" class="form-label"><strong>First name</strong></label>
                                                <input id="newFirstName" type="text" class="form-control" placeholder="First name" required="required">
                                            </p>
                                            <p>
                                                <label for="newLastName" class="form-label"><strong>Last name</strong></label>
                                                <input id="newLastName" type="text" class="form-control" placeholder="Last name" required="required">
                                            </p>
                                            <p>
                                                <label for="newAge" class="form-label"><strong>Age</strong></label>
                                                <input id="newAge" type="number" class="form-control" placeholder="Age" required="required">
                                            </p>
                                            <p>
                                                <label for="newEmail" class="form-label"><strong>Email</strong></label>
                                                <input id="newEmail" type="email" class="form-control" placeholder="Email" required="required">
                                            </p>
                                            <p>
                                                <label for="newPassword" class="form-label"><strong>Password</strong></label>
                                                <input id="newPassword" type="password" class="form-control" placeholder="Password" required="required">
                                            </p>
                                            <p>
                                                <label for="newAuthority" class="form-label"><strong>Authority</strong></label>
                                                <select id="newAuthority" name="authority" class="form-select" multiple aria-label="multiple select example" size="2" required="required">
                                                </select>
                                            </p>
                                            <button id="buttonAddNewUser" type="submit" class="btn btn-success">Add new user</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <h2>User information-page</h2>
                <div class="container">
                    <div class="row border">
                        <div class="col p-2">
                            <h5 class="my-0">About user</h5>
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col gx-0">
                            <div class="d-flex text-start p-3">
                                <table class="table table-striped my-0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>FirstName</th>
                                            <th>LastName</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Authority</th>
                                        </tr>
                                    </thead>
                                    <tbody class="currentUser">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script src="/adminScript.js"></script>
</body>
</html>

