<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<br>

<form th:method="GET" th:object="${user}">
    <header>
        <h4 style="display: inline-block;">FirstName:</h4>
        <span style="margin-left: 10px;" th:text="${user.getFirstName()}"></span>
    </header>
    <header>
        <h4 style="display: inline-block;">LastName:</h4>
        <span style="margin-left: 10px;" th:text="${user.getLastName()}"></span>
    </header>
    <header>
        <h4 style="display: inline-block;">Age:</h4>
        <span style="margin-left: 10px;" th:text="${user.getAge()}"></span>
    </header>
    <header>
        <h4 style="display: inline-block;">Email:</h4>
        <span style="margin-left: 10px;" th:text="${user.getEmail()}"></span>
    </header>
    <p>Roles:</p>
    <ul th:each="role : ${user.getRole()}">
        <li th:text="${role.getRole()}" ></li>
    </ul>
</form>

<br>

<a th:href="@{/logout}">
    <input type="button" value="Logout"/>
</a> <br><br>

</body>
</html>