<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<br>

<form th:method="GET" th:object="${user}">
    <label for="firstName">Name:</label>
    <input type="text" th:field="*{firstName}" id="firstName"><br><br>
    <label for="lastName">Surname:</label>
    <input type="text" th:field="*{lastName}" id="lastName"><br><br>
    <label for="age">Age:</label>
    <input type="text" th:field="*{age}" id="age"><br><br>
    <label for="email">Email:</label>
    <input type="text" th:field="*{email}" id="email"><br><br>
    <p>Roles:</p>
    <ul th:each="role : ${user.getRole()}">
        <li th:text="${role.getRole()}" ></li>
    </ul>
</form>

<br>

<a th:href="@{/logout}">
    <input type="button" value="Logout"/>
</a> <br><br>

</body>
</html>